* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: hsl(40, 8%, 93%);
  background-color: hsl(51, 6%, 55%);
  line-height: 1.6;
  font-size: 2rem;
}

header {
  background-color: hsl(221, 19%, 23%);
  color: hsl(40, 8%, 93%);
  padding: 40px 0;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}

.nav-links {
  display: flex;
  gap: 40px;
  list-style: none;
}

a {
  background-color: hsl(51, 6%, 55%);
  color: hsl(40, 8%, 93%);
  text-decoration: none;
  font-size: 2rem;
}

.nav-links a{
  color: hsl(40, 8%, 93%);
  background-color: hsl(221, 19%, 23%);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px;
}

.profile {
  max-width: 600px;
}

.profile-picture {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin: 40px 0;
}

.memyself {
  width: 40%;
  height: auto;
}

section{
  min-height: 100vh;
}

section#contact {
  min-height: auto;
  height: auto;
}

section#about ul {
  list-style: none;
  padding: 0;
}

section#about li,
section#about p {
  margin-bottom: 20px;
}

footer {
  background-color: hsl(221, 19%, 23%);
  text-align: center;
  padding: 40px 0;
}

footer p {
  color: hsl(40, 8%, 93%);
  font-size: 1.75rem;
}

button {
  background-color: hsl(51, 6%, 55%);
  color: hsl(40, 8%, 93%);
  border: none;
  padding: 10px 20px;
  font-size: 2rem;
  cursor: pointer;
}

button:hover {
  background-color: hsl(221, 19%, 23%);
}

@media (max-width: 768px) {
  body {
    font-size: 1rem;
  }

  header {
    padding: 20px 0;
  }

  nav {
    justify-content: center;
    text-align: center;
    padding: 0 20px;
  }

  .nav-links {
    gap: 20px;
  }

  a {
    font-size: 1rem;
  }

  main {
    padding: 20px;
  }

  .profile-picture {
    width: 150px;
    height: 150px;
    margin: 20px 0;
  }

  footer {
    padding: 20px 0;
  }

  footer p {
    font-size: 1rem;
  }

  section#about li {
    font-size: 1rem;
  }

  button {
    font-size: 1rem;
  }
}
