* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background: #1b1b1b;
    color: #ffffff;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: .01071em;
}
body>header>nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    min-height: 64px;
    transition: all 250ms;
}
nav {
    display: block;
    unicode-bidi: isolate;
}
header {
    display: block;
    unicode-bidi: isolate;
}
header a {
    text-decoration: none;
    color: #ffffff;
    margin-left: 20px;
}
.splash {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.splash .socials {
    margin-top: 32px;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.has-tooltip {
    position: relative;
}
.tooltip {
    margin: 0;
    border-radius: 5px;
    background: rgba(97, 97, 97, .9);
    color: #fff;
    visibility: hidden;
    z-index: 1;
}
.tooltip:hover{
    visibility: visible;
}