---
// You can add any frontmatter here if needed
import Styles from "../assets/style.css";
import Header from "../components/header.astro";
import React from "react";
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact - Lucas Holeczek</title>
    <link rel="stylesheet" href={Styles}>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>
<body>
    <div class="hero-header">
        <div class="wrapper">
            <Header />
            <div class="contact-section">
                <h2 class="contact-title">Contact Me</h2>
                <p>If you would like to get in touch, feel free to reach out through the following platforms:</p>
                <ul class="contact-links">
                    <li><i class="fa-solid fa-envelope"></i> <a href="mailto:thelucasholecek@gmail.com">thelucasholecek@gmail.com</a></li>
                    <li><i class="fa-brands fa-github"></i> <a href="https://github.com/HlucaszH" target="_blank">GitHub</a></li>
                    <li><i class="fa-brands fa-linkedin"></i> <a href="https://pl.linkedin.com/in/%C5%82ukasz-holeczek-9a11b8305" target="_blank">LinkedIn</a></li>
                </ul>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.10/typed.min.js"></script>
    <script style="text/javascript">
        var togglebtn = document.querySelector(".togglebtn");
        var nav = document.querySelector(".navlinks");

        togglebtn.addEventListener("click", function(){
            this.classList.toggle("click");
            nav.classList.toggle("open");
        });
    </script>
</body>
</html>