<header>
    <div class="logo">
        <i class="fa-solid fa-l"></i>
        <div class="logo-text">Lucas Holeczek</div>
    </div>
    <nav>
        <div class="togglebtn">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul class="navlinks">
            <li><a href="/index.html">Home</a></li>
            <li><a href="/portfolio.html">Portfolio</a></li>
            <li><a href="https://dominikstas.github.io/bloguslaw/">Blog</a></li>
            <li><a href="/contact.html">Contact</a></li>
        </ul>
    </nav>
</header>