<div class="portfolio-items">
    <!-- Your project items will go here -->
    <div class="portfolio-item">
        <!-- <img src="assets/images/project1.jpg" alt="Project 1"> -->
        <h3>Simple-weather-app</h3>
        <p>Weather forecast website designed for educational purposes, with the goal of eventually developing it into a full-fledged app. 
            This project demonstrates the integration of external APIs to fetch and display weather data.
        <br><a href="https://github.com/HlucaszH/simple-weather-app" target="_blank">Github link</a></p>
    </div>
    <div class="portfolio-item">
        <!-- <img src="assets/images/project2.jpg" alt="Project 2"> -->
        <h3>Family-Tree</h3>
        <p>This project is a simple family tree database application built using Python and SQLite. It allows users to manage individual records and their relationships in a family tree format.
        <br><a href="https://github.com/HlucaszH/Family-Tree" target="_blank">Github link</a></p>
        </p>
    </div>
    <div class="portfolio-item">
        <!-- <img src="assets/images/project3.jpg" alt="Project 3"> -->
        <h3>Bloguslaw</h3>
        <p>Blog website where I and my friends can share our thoughts, experiences,science and cool findings.
        <br><a href="https://github.com/dominikstas/bloguslaw" target="_blank">Github link</a></p>
        </p>
    </div>
</div>